#conteudo {
  font-family: "Lato", sans-serif;
  background-color: #E6EDF3!important;
}

.signup-page {
    float: left;
    width: 100%;
    height: 100%;
    background-color: #E6EDF3!important;
    padding: 20px 0px 20px;
}
.form-bg {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    padding: 20px 40px 30px;
}

.signup-page h2 {
    font-size: 32px;
    color: #999;
    text-align: center;
    margin: 32px;
}
.signup-btn {
    background-color: #274360;
    border: none;
    width: 100%;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 8px 15px;
    border-radius: 4px;
    font-weight: 600;
    margin: 10px 0px 10px;
}
.signup-btn:hover, .login-with-fb:hover{
  opacity: 0.9;
}

span.options-divider {
    text-align: center;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    width: 40px;
    margin: 0 auto;
    padding: 25px 0px;
    background-color: #fff;
    z-index: 3;
    color: #999;
}
span.option-br {
    border-bottom: 1px solid #ddd;
    position: relative;
    width: 100%;
    bottom: 34px;
    z-index: 2;
    display: block;
}

.btn-primary.custom-btn {
	background-color: #274360;
    border: none;
    width: 100%;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 8px 15px;
    border-radius: 4px;
    font-weight: 600;
    margin: 10px 0px 10px;
}

.botoes{
  text-align: center;
  margin: 24px;
}


.form-control:focus {
        border-color: #0277bd!important;
        
} 